/*
   Autor: Rafael Zelak Fernandes
   Data: Fevereiro de 2024
   Descrição: Este programa tem como objetivo gerar uma assinatura digital para colocar no email nos padrões da Setup Tecnologia
   Licença: MIT
*/

/* Versão 4.0*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    position: relative;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    padding: 20px;
    padding-top: 9.8vh;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-left: 22%; 
    flex-grow: 1;
}

footer {
    background-color: rgb(0, 116, 170);
    color: #fff;
    padding: 5px;
    text-align: center;
    width: 100%;
    flex-shrink: 0;
    position: fixed;
    height: 2vh;
    bottom: 0;
    z-index: 999 !important;
    box-shadow: -5px -5px 70px rgba(0, 0, 0, 0.22);
}

footer h5{
    position: relative;
    bottom: 19px;
}

header {
    background-color: rgba(0, 116, 170, 1);
    color: #fff;
    padding: 0px;
    text-align: center;
    width: 100%; 
    box-shadow: 5px 5px 70px rgba(0, 0, 0, 0.22);
    position: fixed;
    z-index: 10 !important;
}

.head, .foot {
    transition: background-color .8s ease;
}

.form {
    width: 150%;
    max-width: 500px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(29, 40, 51, 0.3);
    border-radius: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
}

#meuFormulario{
    margin-left: 25px;
}

#opcoes,
#opcoes_dominio,
#email,
#cargo,
#nome,
#telefone {
    border: 2px solid rgb(38, 150, 202);
    border-radius: 20px;
    padding: 9px;
    font-size: 16px;
    color: rgb(0, 116, 170);
    outline: none;
    transition: border-color 0.3s ease;
    width: 87%;
}

#telefone, #nome_telefone{
    display: none;
}

#container_telefone {
    position: relative;
    display: inline-block;
    width: 100%;
}

#telefone_txt {
    display: block;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 5px;
    color: rgb(0, 116, 170);
}

#add_telefone {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 3.2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#add_telefone.remover {
    background-color: #dc3545;
    left: 83.2%;
    padding-bottom: 4px;
}

#opcoes_dominio,
#opcoes{
    width: 94%;
}

#opcoes{
    margin-bottom: 13%;
}

#cargo:focus {
    border-color: rgba(118, 163, 184, 0.7);
}

#nome:focus {
    border-color: rgba(118, 163, 184, 0.7);
}

#email:focus {
    border-color: rgba(118, 163, 184, 0.7);
}

.form p {
    color: rgb(0, 116, 170);
    font-size: 14pt;
    margin-left: 12px;
    margin-bottom: 2px;
}

#btnHTML:hover {
    background-color: rgb(38, 150, 202);
    color: white;
}

#btnHTML,
#btnCopiar,
#btnDocument {
    background-color: transparent;
    border: 2px solid rgb(38, 150, 202);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    width: 80%;
    margin-left: 6.7%;
}

#btnDocument{
    letter-spacing: 0px;
    animation: blink 1.6s infinite;
    margin-bottom: 10px;
}

#btnDocument:hover{
    background-color: rgb(38, 150, 202);
    color: white;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        background-color: rgb(38, 150, 202);
        color: white;
    }
}

#btnHTML {
    margin-top: 50px;
}

#btnCopiar:hover {
    background-color: rgb(38, 150, 202);
    color: white;
}

.popup {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgb(0, 116, 170);
    color: #fff;
    border-radius: 12px;
    z-index: 1000;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

.popup.show {
    top: 105px;
    opacity: 1;
}

.content {
    flex: 1;
    padding: 20px;
    position: absolute;
    margin-left: auto;
    display: flex;
    align-items: center;
    z-index: -1;
    left: 53%;
    top: 42%;
    padding: 50px;
    border: 2px solid transparent;
    transition: box-shadow 1s ease;
    border-radius: 5%;
}

.content.hover-border {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5%;
}

.content img {
    margin-right: 20px;
}

h2 {
    text-align: center;
    left: 50%;
    position: relative;
}

.nome {
    font-weight: bold;
    color: rgb(38, 150, 202);
    font-size: 16pt;
    margin-bottom: -9px;
    margin-top: -10px;
}

.email {
    color: rgb(38, 150, 202);
    text-decoration: none;
    margin-bottom: 6px;
}

.telefone{
    color: rgb(38, 150, 202);
    text-decoration: none;
    margin-top: -1px;
    padding-bottom: 8px;
}

.cargo {
    margin-bottom: -6px;
}

.nome_openix {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #262626;
    font-size: 16pt;
    margin-bottom: -9px;
    margin-top: -10px;
}

.email_openix {
    font-family: Arial, sans-serif;
    color: #262626;
    text-decoration: underline;
    margin-bottom: 6px;
    text-decoration: none;
}

.cargo_openix {
    font-family: Arial, sans-serif;
    margin-bottom: -6px;
    color: #87888c;
}

.telefone_openix{
    color: #262626;
    text-decoration: none;
    margin-top: -1px;
    margin-bottom: 4px;
}

.telefone {
    margin-bottom: -6px;
}

#conteudoCopiado {
    display: flex;
    flex-direction: column;
}

.setup {
    margin-bottom: -30px;
    margin-top: 10px;
}

.rede_social {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.rede_social img {
    margin-right: 10px;
    margin-top: 3px;
    height: 21px;
}

.linha {
    margin-left: 115px;
    position: absolute;
}

.line_color{
    border-left:0.9999779527559055pt solid #489be5;
}

.line_color_openix{
    border-left:0.9999779527559055pt solid #87888c;
}

#conteudoCopiado {
    margin-left: 10px;
    font-family: 'Arial';
    font-size: 9pt;
}

.popup.error {
    background-color: rgb(233, 70, 70);
}

.aviso {
    position: absolute;
    margin-bottom: 330px;
    margin-left: 18%;
    color: rgb(0, 116, 170);
    font-size: 20pt;
    width: 500px;
    opacity: 0;
    transition: 1s ease;
}

.aviso.aviso-hover {
    opacity: 1;
}

.campo:disabled {
    background-color: #c8d6df; 
    opacity: 0.6;
    transition: 1s;
}

.campo-disabled {
    background-color: #ffffff; 
    transition: 1s;
}

#logo {
    opacity: 1;
}

.transparente {
    opacity: 0;
}

.info-container {
    position: relative;
}

.info-btn {
    position: absolute;
    top: 7%;
    right: 0%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bffda;
    color: white;
    border: none;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.info-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}

.info-overlay.show {
    opacity: 1;
    visibility: visible;
}

.info-popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
    text-align: left; /* Adiciona alinhamento à esquerda */
}

.info-popup p {
    margin: 0; /* Remove margens padrão dos <p> para melhor controle do layout */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

/* Estilos para telas pequenas */
@media (max-width: 1168px) {
    header, footer {
        padding: 0px;
        margin-left: -17%;
        width: 135%;
        z-index: 999 !important;
    }
    
    .aviso{display: none;}

    .container {
        margin: 0;
        padding: 50px;
        padding-top: 10vh;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .form {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0px 0px 10px rgba(29, 40, 51, 0.3);
    }

    #btnHTML, #btnCopiar {
        width: 100%;
        margin-left: 0;
        font-size: 14px;
    }

    .content {
        left: 0;
        top: 0;
        padding: 40px;
        border: none;
        position: static;
        margin: 0;
        box-shadow: none;
    }

    .linha {
        margin-left: 110px;
    }

    .aviso {
        margin-bottom: 20px;
        margin-left: 0;
        font-size: 18pt;
        width: 100%;
        text-align: center;
    }

    footer h5 {
        font-size: 12px;
        position: static;
        margin: 0;
    }
}

/* Estilos para telas muito pequenas, como smartphones em modo retrato */
@media (max-width: 580px) {
    .aviso{display: none;}

    header, footer {
        padding: 8px;
        width: 130%;
        font-size: 10pt;
        z-index: 999 !important;
    }
    .foot h5{
        font-size: 8pt !important;
    }

    .form {
        margin-top: 12%;
        padding: 35px;
    }

    #btnHTML, #btnCopiar {
        padding: 8px 10px;
        font-size: 12px;
    }
    .linha{
        margin-left: 115px;
    }
    .info-btn {
        width: 16px;
        height: 16px;
        font-size: 12px;
    }

    .info-popup {
        width: 90%;
        max-width: 300px;
    }

    .aviso {
        font-size: 16pt;
        width: 90%;
        margin-left: 5%;
    }
}
